<div class="card cardStyle">
  <div class="card-body cardStyle2">
    <h5 class="card-title"><img src="{{avatar}}&s=50" alt="user avatar for {{username}}"> {{username}}</h5>
    <p class="card-text">{{#if reply}}<a href="/buzz/{{reply}}">(replying to another Buzz):</a> {{/if}}{{body}}</p>
    <button class="btn btn-dark replyBtn" data-id="{{buzzId}}">reply to buzz</button> 
    <p>{{created}}</p>
  </div>
</div>