<body class="bodyBackground ">
    <div class="overlay"></div>
    <div class="container ">
        <nav class="navbar " style="background-color: #480052;">
            <a class="navbar-brand navbarStyle justify-content-center" href="#"><b class="n4 nav4">buzz</b><b
                    class="nav5 n5">b</b><b class="nav3 n3">o</b><b class="nav1 n1">a</b><b class="nav2 n2">r</b><b
                    class="nav5 n5">d</b></a>
            <ul class="nav">
                <li class="nav-item navButton">
                    <a class="nav-link" style="color: #f45a01;" href="/logout">logout</a>
                </li>
            </ul>
        </nav>

    </div>

    <div class="container contDash ">
        <div class="row " id="post">
            <div class="col-md-12">
                {{> post-block}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="card" id="follower" style="width: 18rem;">
                    <div class="card-body">
                        {{#if user.self}}
                        {{else}}
                        <a href="/users/{{username}}"><img src="{{avatar}}&s=40" class="img-thumbnail float-right"
                                alt="user avatar for {{username}}">
                        </a>
                        <h5 class="card-title">@{{username}}</h5>

                        {{/if}}
                    </div>
                </div>
                <br>

                <ul class="list-group following" id="friends-list">
                    <h4 class="myBudsh4 p-2">my buds</h4>

                    {{#each buds}}
                    {{> bud-block}}
                    {{/each}}

                </ul>
            </div>
            <div class="col-md-7 ">
                <ul class="list-group postsStyle">
                    <h1 class="postsBoards p-2">buzz</h1>
                    {{#each buzz}}
                    {{> buzz-block}}
                    {{/each}}
                    >
                </ul>

            </div>

        </div>
    </div>

</body>