<body class="bodyBackground">
    <div class="overlay"></div>
    <div class="container ">
        <nav class="navbar " style="background-color: #480052;">
            <a class="navbar-brand navbarStyle  justify-content-center" href="#"><b class="n6 nav6">bud</b><b class="nav5 n5">f</b><b class="nav1 n1">i</b><b class="nav1 n1">l</b><b class="nav3 n3">e</b> </a>
            <ul class="nav">
                <li class="nav-item navButton">
                    <a class="nav-link" style="color: #f45a01;" href="/logout">logout</a>
                </li>
            </ul>
        </nav>

    </div>
    <!-- user profile starts -->
    <div class="container contUser">
        <div class="row">
            <div class="col-md-5">
                <div class="card" id="follower" style="width: 18rem;">
                    <div class="card-body">
                        <a href="/users/{{user.username}}"><img src="{{user.avatar}}" class="img-thumbnail float-right"
                                alt="user avatar for {{user.username}}">
                        </a>
                        <h5 class="card-title">@{{user.username}}</h5>
                        {{#if user.self}}
                        {{else}}
                        <button class="btn btnFix btn-secondary p-1" id="follow-buds" data-id="{{user.id}}"><b>+</b> bud</button>
                        {{/if}}
                    </div>
                </div>
                <br>

                <ul class="list-group following" style="background-color: #164050;">
                    <h4 class="myBudsh4 p-2">my buds</h4>
                    {{#each buds}}
                    {{> bud-block}}
                    {{/each}}

                </ul>
            </div>
            <div class="col-md-7 ">

                <ul class="list-group postsStyle">
                    <h1 class="postsBoards p-2">buzz</h1>
                    {{#each buzz}}
                    {{> buzz-block}}
                    {{/each}}
                    <br>
                </ul>
            </div>
        </div>
    </div>
<script src="../js/profile.js"></script>
</body>